:root{
    --Dark-cyan: hsl(158, 36%, 37%);
--Cream: hsl(30, 38%, 92%);
     --Very-dark-blue: hsl(212, 21%, 14%);
--Dark-grayish-blue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);
}
*{
     font-family: "Montserrat", sans-serif;
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Cream);
}
h2{
    font-family: "Fraunces",serif;
}
p{
    font-size: 14px;
}
.card_container{
    display: flex;
}
.card_image{
    background-image:url(./images/image-product-desktop.jpg) ;
    background-size: cover;
    width: 40%;
    height: auto;
    background-position: center center;
    border-radius: .5rem 0 0 .5rem;

}
.card_info{
    width: 50%;
    background-color: var(--White);
    padding: 2rem;
    border-radius: 0 .5rem .5rem 0;
}
.sub_title{
    text-transform: uppercase;
    font-weight: 500;
    color: var(--Dark-grayish-blue);
    letter-spacing: 3px;
}
.title{
    margin: 1rem 0;
}
.info{
    color:var(--Dark-grayish-blue) ;
    margin-bottom: 1rem;
}
.prices{
display: flex;
align-items: center;
justify-content:space-between;
margin-bottom: 1 rem;
}
.prices h2{
    color: var(--Dark-cyan);
}
.prices p{
    text-decoration: line-through;
    color:var(--Dark-grayish-blue);
}
button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--White);
    border: none;
    border-radius: .5rem;
    padding: .7rem;
    background-color: var(--Dark-cyan);
    gap: .5rem;
    cursor: pointer;
}
button:hover{
    background-color: var(--Very-dark-blue);
}
@media screen and (max-width:550px)
 {
 .card{
    width: 350px;
 }   
 .card_container{
    flex-direction: column;
    align-items: center;
 }
 .card_image{
    background-image:url(./images/image-product-desktop.jpg) ;
    background-size: cover;
    width: 100%;
    height: 250px;
    background-position: center center;
    border-radius: .5rem 0 0 .5rem;
    background-repeat: no-repeat;
 }
 .card_info{
    width: 100%;
 }
}